<div class="bootstrap-wrapper">
	<div class="container">
		<div class="row">
			<div class="col-md-6 offset-md-3">
                <div>
                    <div>
                        <h1 class="text-center">Login !!</h1>
                    </div>
                    <div class="text-center pops">
                        <img src="../../../assets/img/login.png"/>
                    </div>
                    <div class="text-center">
                        <form (ngSubmit)="log_user()">

                            <p>
                                <mat-form-field  class=" w-full" appearance="outline">
                                    <mat-label>Username</mat-label>
                                    <input matInput
                                    name="username"
                                    [(ngModel)]="user_login_obj.username"
                                    required
                                    placeholder="Placeholder">
                                    <mat-icon matSuffix>perm_identity</mat-icon>
                                </mat-form-field>
                            </p>
                            <p>
                                <mat-form-field class=" w-full" appearance="outline">
                                    <mat-label>Password</mat-label>
                                <input 
                                matInput
                                required
                                [(ngModel)]="user_login_obj.password"
                                name="password"
                                placeholder="Placeholder">
                                <mat-icon matSuffix>password</mat-icon>
                            </mat-form-field>
                        </p>
                        <div *ngIf="user_login_obj.username.length==0 || user_login_obj.password.length==0">
                            <section>
                                <div class="example-button-row">
                                  <button type="submit" mat-raised-button disabled color="primary">Submit</button>
                                </div>
                              </section>
                        </div>
                        <div *ngIf="user_login_obj.username.length>0 && user_login_obj.password.length>0">
                            <section>
                                <div class="example-button-row">
                                  <button type="submit" mat-raised-button  color="primary">Submit</button>
                                </div>
                              </section>
                        </div>
                    </form>
                    </div>   
                    
                    
                    
                </div>
            </div>
	</div>
</div>


      
</div>